# Database Envvars
DB_PORT=27017
DB_USER=root
DB_PASS=2Dk6T9R3Xe4E
DB_HOST=0.0.0.0

# API Envvars
HTTP_EXPRESS_PORT=8080
HTTPS_EXPRESS_PORT=8081
JWT_SECRET=Eg5i4189H0Y6
MAIL=test@gmail.com
MAIL_PASSWORD=test
PROD=false
HTTPS=false
LOGGER=true
APK_PATH=/var/apk
CLOUDINARY_CLOUD_NAME=def3ztvli
CLOUDINARY_API_KEY=937854611785898
CLOUDINARY_API_SECRET=z8uLXedRXcKIqMOqtAc3sLDdbQU