<footer>
    <div>
        <span style="margin-left: 60px; display: block; width: 80%; height: 2px; background-color: black;"></span>
        <img style="width: 50%; height: 50%; margin-left: 158px" src="https://schood.fr/static/media/logo_schood.f6e9346e3b2ab413c146.png" alt="logo.png"/>
    </div>
</footer>