openapi: 3.0.3
info:
  title: Schood API
  description: |-
    The API server documentation for the Schood EIP Project
  version: 1.0.0
servers:
  - url: http://localhost:8080
    description: Local backend server
  - url: http://schood.fr:8080
    description: Main backend server
tags:
  - name: user
    description: User operations
  - name: adm
    description: School Administration operations
  - name: admin
    description: Admin operations
paths:
  /user/login:
    post:
      tags:
        - user
      summary: Login a User
      description: >
        Login a User, given a valid email and a valid password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
        '401':
          description: Invalid inputs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidLogin'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
  /user/forgottenPassword:
    post:
      tags:
        - user
      summary: Retrieve forgotten password
      description: >
        Send an email to the user to get another password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrievePassword'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid inputs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
  /user/changePassword:
    patch:
      tags:
        - user
      summary: Change a user's password
      description: >
        Change a user's password, given the current password and a valid new password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserChangePassword'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ok'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidRequest'
        '422':
          description: Invalid password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidNewPassword'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      security:
        - x-auth-token: []
  /user/profile:
    get:
      tags:
        - user
      summary: Get the user informations
      description: >
        Send a json containing the user informations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      security:
        - x-auth-token: []
  /user/by/{position}:
    get:
      tags:
        - user
      summary: Get the list of users by position
      description: >
        Send a json containing an array of users by position
      parameters:
        - in: path
          name: position
          schema:
            type: string
          required: true
          description: >
            student or teacher if school administrator <br> <br>
            administrator or admin if admin
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayProfiles'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      security:
        - x-auth-token: []
  /user/all:
    get:
      tags:
        - user
      summary: Get the list of all users
      description: >
        Send a json containing an array of users depending of your levelOfAccess
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayProfiles'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      security:
        - x-auth-token: []
  /adm/rolesList:
    get:
      tags:
        - adm
      summary: Get the roles list
      description: >
        Send a json containing roles information
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesList'
        '422':
          description: Failed to get roles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/failedRoles'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      security:
        - x-auth-token: []
  /admin/facility/register:
    post:
      tags:
        - admin
      summary: Register a Facility
      description: >
        Register a user given a valid email, firstname, lastname, role, classes. <br> <br>
        If the role is student, only one element in the classes array is accepted. <br> <br>
        If the role is teacher, multiple elements in the classes array is accepted. <br> <br>
        If other role, no element should be in the classes array
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityRegister'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      security:
        - x-auth-token: []
  /adm/csvRegisterUser:
    post:
      tags:
        - adm
      summary: Register users passing a csv file
      description: >
        Register users, given non empty firstnames, non empty lastnames, valid emails, valid roles and valid classes (separated by ':').
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CsvRegisterUser'
      responses:
        '200':
          description: Successful operation
        '422':
          description: Invalid csv
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidCsv'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      security:
        - x-auth-token: []
  /adm/class/register:
    post:
      tags:
        - adm
      summary: Register a Class
      description: >
        Register a Class, given a non empty name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassRegister'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidRequest'
        '422':
          description: Name already used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAlreadyUsed'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      security:
        - x-auth-token: [ ]
  /adm/helpNumber/register:
    post:
      tags:
        - adm
      summary: Register a help number
      description: >
        Register a HelpNumberCategory, given a non empty name, the id of the help numbers category and at least an email or a telephone number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HelpNumber'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidRequest'
        '422':
          description: Name already used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAlreadyUsed'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      security:
        - x-auth-token: [ ]
  /adm/helpNumbersCategory/register:
    post:
      tags:
        - adm
      summary: Register a help numbers category
      description: >
        Register a HelpNumberCategory, given a non empty name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HelpNumbersCategory'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidRequest'
        '422':
          description: Name already used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAlreadyUsed'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      security:
        - x-auth-token: [ ]
  /adm/register:
    post:
      tags:
        - adm
      summary: Register a user
      description: >
        Register a Facility, given a non empty name, a non empty address, a non empty telephone and a valid level.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegister'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      security:
        - x-auth-token: []

components:
  schemas:
    UserLogin:
      type: object
      properties:
        email:
          type: string
          example: 'admin@schood.fr'
        password:
          type: string
          example: 'admin123'
    UserChangePassword:
      type: object
      properties:
        oldPassword:
          type: string
          example: 'Pass123'
        newPassword:
          type: string
          example: 'Test123'
    RetrievePassword:
      type: object
      properties:
        email:
          type: string
          example: 'admin@schood.fr'
    FacilityRegister:
      type: object
      properties:
        name:
          type: string
          example: 'Example school'
        address:
          type: string
          example: '3 rue test'
        telephone:
          type: string
          example: '0102030405'
        level:
          type: integer
          example: 1
    CsvRegisterUser:
      type: object
      properties:
        filename:
          type: string
          format: binary
    UserRegister:
      type: object
      properties:
        email:
          type: string
          example: 'test.schood@gmail.com'
        firstname:
          type: string
          example: 'test'
        lastname:
          type: string
          example: 'test'
        role:
          type: string
          example: "64692acf1874cb0532aa619d"
        classes:
          type: string
          example: ["64692acf1874cb0532aa619d", "64692acf1874cb0532aa619d"]
    ArrayProfiles:
      type: array
      items:
        type: object
        properties:
          _id:
            type: string
            example: '64b15338a8c793949de08695'
          email:
            type: string
            example: 'test.schood@gmail.com'
          firstname:
            type: string
            example: 'test'
          lastname:
            type: string
            example: 'test'
          role:
            type: object
            properties:
              _id:
                type: string
                example: "64b15338a8c793949de08679"
              name:
                type: string
                example: "student"
              levelOfAccess:
                type: number
                example: 0
          classes:
            type: array
            items:
              type: object
              properties:
                _id:
                  type: string
                  example: "64b15338a8c793949de08680"
                name:
                  type: string
                  example: "200"
          firstConnexion:
            type: boolean
            example: true
    Profile:
      type: object
      properties:
        _id:
          type: string
          example: '64b15338a8c793949de08695'
        email:
          type: string
          example: 'test.schood@gmail.com'
        firstname:
          type: string
          example: 'test'
        lastname:
          type: string
          example: 'test'
        role:
          type: object
          properties:
            _id:
              type: string
              example: "64b15338a8c793949de08679"
            name:
              type: string
              example: "student"
            levelOfAccess:
              type: number
              example: 0
        classes:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                example: "64b15338a8c793949de08680"
              name:
                type: string
                example: "200"
        firstConnexion:
          type: boolean
          example: true
    HelpNumber:
      type: object
      properties:
        name:
          type: string
          example: "Test"
        email:
          type: string
          example: "test.schood@gmail.com"
        telephone:
          type: string
          example: "0102030405"
        helpNumbersCategory:
          type: string
          example: "64b15338a8c793949de08680"
    HelpNumbersCategory:
      type: object
      properties:
        name:
          type: string
          example: "Test"
    RolesList:
      type: array
      items:
        type: object
        properties:
          levelOfAccess:
            type: integer
            example: 1
          name:
            type: string
            example: 'student'
    token:
      type: object
      properties:
        token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NDJiOTg4NTE0ZDMwNjA5MDYxZGQ3MmIiLCJpYXQiOjE2ODExOTcwMDIsImV4cCI6MTY4MTI4MzQwMn0.IbO1jwqRt4sgNlNWlReZ5aj-D6C5zwSnMlz2eaLsf_s"
        firstConnexion:
          type: boolean
          example: true
    invalidLogin:
      type: object
      properties:
        message:
          type: string
          example: "Invalid username or password"
    invalidNewPassword:
      type: object
      properties:
        message:
          type: string
          example: "Invalid new password"
    invalidRequest:
      type: object
      properties:
        message:
          type: string
          example: "Invalid request"
    invalidCsv:
      type: object
      properties:
        message:
          type: string
          example: "Csv header is not valid"
    ClassRegister:
      type: object
      properties:
        name:
          type: string
          example: '200'
    NameAlreadyUsed:
      type: object
      properties:
        message:
          type: string
          example: 'This name is already used'
    AtLeastEmailOrTelephone:
      type: object
      properties:
        message:
          type: string
          example: 'At least email or telephone have to be present'
    failedRoles:
      type: object
      properties:
        message:
          type: string
          example: "Failed to get roles"
    ok:
      type: object
      properties:
        message:
          type: string
          example: 'ok'
    internalServerError:
      type: object
      properties:
        message:
          type: string
          example: "Internal Server Error"
  securitySchemes:
      x-auth-token:
        type: apiKey
        name: x-auth-token
        in: header