openapi: 3.0.3
info:
  title: Schood API
  description: |-
    The API server for the Schood EIP Project
  version: 1.0.0
servers:
  - url: http://localhost:8080
    description: Main backend server
tags:
  - name: user
    description: User operations
  - name: adm
    description: School Administration operations
  - name: admin
    description: Admin operations
paths:
  /user/login:
    post:
      tags:
        - user
      summary: Login a User
      description: >
        Login a User, given a valid email and a valid password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
        '401':
          description: Invalid inputs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidLogin'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
  /user/forgottenPassword:
    post:
      tags:
        - user
      summary: Retrieve forgotten password
      description: >
        Send an email to the user to get another password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrievePassword'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid inputs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
  /user/changePassword:
    patch:
      tags:
        - user
      summary: Change a user's password
      description: >
        Change a user's password, given the current password and a valid new password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserChangePassword'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ok'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidRequest'
        '422':
          description: Invalid password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidNewPassword'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
  /adm/register:
    post:
      tags:
        - adm
      summary: Register a Facility
      description: >
        Register a Facility, given a non empty name, a non empty address, a non empty telephone and a valid level.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Register'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
  /admin/facility/register:
    post:
      tags:
        - admin
      summary: Register a user
      description: >
        Register a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityRegister'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'

components:
  schemas:
    UserLogin:
      type: object
      properties:
        email:
          type: string
          example: 'admin@schood.fr'
        password:
          type: string
          example: 'admin123'
    UserChangePassword:
      type: object
      properties:
        oldPassword:
          type: string
          example: 'Pass123'
        newPassword:
          type: string
          example: 'Test123'
    RetrievePassword:
      type: object
      properties:
        email:
          type: string
          example: 'admin@schood.fr'
    FacilityRegister:
      type: object
      properties:
        name:
          type: string
          example: 'Example school'
        address:
          type: string
          example: '3 rue test'
        telephone:
          type: string
          example: '0102030405'
        level:
          type: integer
          example: 1
    Register:
      type: object
      properties:
        email:
          type: string
          example: 'test.schood@gmail.com'
        firstname:
          type: string
          example: 'test'
        lastname:
          type: string
          example: 'test'
        role:
          type: string
          example: "64692acf1874cb0532aa619d"
        classes:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: "200"
    token:
      type: object
      properties:
        token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NDJiOTg4NTE0ZDMwNjA5MDYxZGQ3MmIiLCJpYXQiOjE2ODExOTcwMDIsImV4cCI6MTY4MTI4MzQwMn0.IbO1jwqRt4sgNlNWlReZ5aj-D6C5zwSnMlz2eaLsf_s"
    invalidLogin:
      type: object
      properties:
        message:
          type: string
          example: "Invalid username or password"
    invalidNewPassword:
      type: object
      properties:
        message:
          type: string
          example: "Invalid new password"
    invalidRequest:
      type: object
      properties:
        message:
          type: string
          example: "Invalid request"
    ok:
      type: object
      properties:
        message:
          type: string
          example: 'ok'
    internalServerError:
      type: object
      properties:
        message:
          type: string
          example: "Internal Server Error"
  securitySchemes:
      x-auth-token:
        type: apiKey
        name: x-auth-token
        in: header
      server-code:
        type: apiKey
        name: server-code
        in: header