openapi: 3.0.3
info:
  title: Schood API
  description: |-
    The API server for the Schood EIP Project
  version: 1.0.0
servers:
  - url: http://localhost:8080
    description: Main backend server
tags:
  - name: user
    description: User operations
  - name: facility
    description: Facility operations
paths:
  /user/login:
    post:
      tags:
        - user
      summary: Login a User
      description: >
        Login a User, given a valid email and a valid password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
        '401':
          description: Invalid inputs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidLogin'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
  /facility/register:
    post:
      tags:
        - facility
      summary: Register a Facility
      description: >
        Register a Facility, given a non empty name, a non empty address, a non empty telephone and a valid level.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityRegister'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ok'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
components:
  schemas:
    UserLogin:
      type: object
      properties:
        email:
          type: string
          example: 'admin@schood.fr'
        password:
          type: string
          example: 'admin123'
    FacilityRegister:
      type: object
      properties:
        name:
          type: string
          example: 'Example school'
        address:
          type: string
          example: '3 rue test'
        telephone:
          type: string
          example: '0102030405'
        level:
          type: integer
          example: 1
    token:
      type: object
      properties:
        token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NDJiOTg4NTE0ZDMwNjA5MDYxZGQ3MmIiLCJpYXQiOjE2ODExOTcwMDIsImV4cCI6MTY4MTI4MzQwMn0.IbO1jwqRt4sgNlNWlReZ5aj-D6C5zwSnMlz2eaLsf_s"
    invalidLogin:
      type: object
      properties:
        message:
          type: string
          example: "Invalid username or password"
    invalidRequest:
      type: object
      properties:
        message:
          type: string
          example: "Invalid request"
    ok:
      type: object
      properties:
        message:
          type: string
          example: 'ok'
    internalServerError:
      type: object
      properties:
        message:
          type: string
          example: "Internal Server Error"
  securitySchemes:
      x-auth-token:
        type: apiKey
        name: x-auth-token
        in: header
      server-code:
        type: apiKey
        name: server-code
        in: header