name: Swagger verifier

on:
  pull_request:

jobs:
  Swagger_Verifier:
    if: ${{ github.triggering_actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3

      - name: Check if changes in Swagger
        uses: tj-actions/verify-changed-files@v16
        id: verify-changed-files
        with:
            files: |
                src/swagger.yaml

      - name: Comment not changed
        if: steps.verify-changed-files.outputs.files_changed != 'true'
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            Swagger file has not been changed. Didn't you forget to add the route to the swagger ?
          comment_tag: swaggerverifier